<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear />
    <!-- Live String 
    <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=D:\FirebirdData\Database\IandF-Main.fdb;DataSource=35.178.224.36;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=400;Packet Size=8192;ServerType=0;" />
   -->
    <!-- Shadow String   
   <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=D:\FirebirdData\Database\IandF-Main2.fdb;DataSource=35.178.224.36;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=400;Packet Size=8192;ServerType=0;" />
  -->
    <!-- Testing -->

    <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=C:\FirebirdData\Database\IandF-TESTING.fdb;DataSource=172.30.30.207;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=400;Packet Size=8192;ServerType=0;" />

    <!-- Dev 
    <add name="DFBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=C:\FirebirdData\Database\IandF-dev.fdb;DataSource=172.30.30.11;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=400;Packet Size=8192;ServerType=0;" />
-->
  </connectionStrings>

</configuration>